<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Index.css" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Summarizer</title>
    </head>
    <body>
        
            <form class="flex padding-right-3">
                
                  </svg></a>
              </form>
        </nav>
        <div class="container-fluid container bg-light justify-content-center text-center">
            
                <h3>This app summarizes long paragraphs to short sentences</h3>
                <form action="{{ url_for('prediction')}}" method="post">
                <div>
                    <label for="paragraphs">Enter your paragraphs below:</label>
                </div>
                <textarea type="text" id="paragraphs" name="paragraphs" placeholder="firstname"  rows="6" cols="80" required="required"> </textarea>
                
                
                <div>
                    <label for="limit">Maximum number of characters:</label>
                </div>
                <div class="align-self-center">
                    <input name="maxlen" style="width:600" class="form-range" type="range" value="150" min="50" max="1000" oninput="this.nextElementSibling.value = this.value">
                    <output>150</output>
                </div>
                
                <div class="m-3">
                    <button type="submit" class="btn btn-primary col-2">Summarize</button>
                    <input type="reset" value="Reset" class="btn btn-outline-danger col-2">
                </div>
                <div>
                    <h3>Your Summary</h3>
                    
                    <h5 class = "prediction">{{prediction_text}}</h5>
                </div>
            </form>
        </div>
    </body>
</html>